body {
  display: flex;
  justify-content: center;
  padding: 100px 0px;
}

.header {
  color: burlywood;
  font-size: 20px;
  margin-bottom: 30px;
}

.subheading {
  color: chocolate;
  margin-bottom: 5px;
  margin-top: 15px;
}

.task-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  align-items: center;
}

.button-icon {
  height: 10px;
  width: 10px;
}

.task {
  color: darkgoldenrod;
  background-color: lemonchiffon;
}

.add-task {
  background-color: lightpink;
}
